body,html {
	height: 100%;
	background-image: url("https://wallpapersmug.com/download/1920x1200/334b31/snowfall-winter-hut-winter-christmas.jpg");
}

table {
	background-color: #FCF5E5;
	font-size: 18pt;
	border-radius: 30px;
}


.btn-danger {
	position: relative;
	background-color: rgba(255, 0, 0, 0.80);
}

.btn-danger:hover {
	position: relative;
	background-color: rgba(192,192,192, 0.95);
}
